.annonce {
    min-height: 234px;
    box-shadow: 0 0 11px rgba(0, 0, 0, .21);    
}

.annonce h1 {
    font-size: 33px;
    text-align: left;
}

.annonce h2 {
    font-size: 20px;
    text-align: left;
}