/* Bootstrap */
@import url("../lib/bootstrap/css/bootstrap.min.css");

@import url('header.css');
@import url('footer.css');
@import url('navigation.css');
@import url('titles.css');


/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");

/* Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    
}

section {
    margin-bottom: 117px;
}

a {
    color: dodgerblue;
    transition: 0.5s;
}

a:hover {
    color: #7c00ff;
    transition: 0.5s;
    text-decoration: none;
}


.navbar-expand-lg .navbar-collapse {
    padding-left: 7%;
}

/* Paragraphes */
p {
    font-family: 'Maven Pro', sans-serif;
    text-align: justify;
    letter-spacing: 0.7px;
    color: #787878;
    font-size: 17px;
}



.gradient-red {
    background: rgb(0,172,255);
    background: linear-gradient(33deg, #ff0d32 0%, #ff50e9 100%);
    color:white !important;
}

.gradient-blue {
    background: radial-gradient(33deg, rgba(0,172,255,1) 0%, rgba(124,0,255,1) 100%);
}

.shadowbox {
    box-shadow: 0 0 11px rgba(0, 0, 0, .21);
}










a.highlight {
    background: linear-gradient(33deg, rgba(0,172,255,0.7) 0%, rgba(124,0,255,0.7) 100%);
    border-radius: 100px;
    padding: 5px 20px 5px 20px;
    color: white !important;
    box-shadow: 0 0 11px rgba(0, 0, 0, .21);
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s; 
}

a.highlight:hover {
    background: linear-gradient(33deg, rgba(0,172,255,0.4) 0%, rgba(124,0,255,0.4) 100%);
    box-shadow: 0 0 11px rgba(0,0,0, .42);
    transition:0.5s;
}




.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}