<!-- Home -->
<div id="home-component">
  <br />
  <h1 style="text-align:center">Accueil</h1>

  <br />
  <br />
  <br />

  <!-- Espace 1 -->

    <!-- Buttons -->
    <div>
        <button (click)="ngxSmartModalService.getModal('modRegistration').open()">Inscription</button>
      </div>
    <!-- /Buttons -->

  <!-- /Espace 1 -->

  <!-- Modals -->
  <span>

    <!-- Modal "modRegistration" -->
    <ngx-smart-modal #modRegistration customClass="modRegistration"  identifier="modRegistration" [closable]=true [escapable]=false [dismissable]=false >
      <div style="height:75vh; text-align:left">
        <app-registration></app-registration>
      </div>
    </ngx-smart-modal>

  </span>
  <!-- /Modals -->

</div>
<!-- /Home -->