<h2>
    Edition Profil
  </h2>

<form>

    <label for= "Adresse">  Adresse :&nbsp;</label>
    <input type ="text" name = "Adresse" required/> <br />

    <label for= "CodePostal">  Code Postal :&nbsp;</label>
    <input type ="text" name = "CodePostal" maxlength="5" required/> <br/>

    <label for= "AdresseMail">  Adresse Mail :&nbsp;</label>
    <input type ="email" name = "AdresseMail" required/> <br />

    <label for= "NuméroTéléphone">  Numéro Téléphone :&nbsp;</label>
    <input type ="tel" name = "NuméroTéléphone" placeholder="Numéro sans espace" size="17" maxlength="10" required/>  <br />

    <label for= "MotDePasse">  Mot de Passe :&nbsp;</label>
    <input type ="password" name = "MotDePasse" required/> <br />

    <label for= "C_MotDePasse"> Confirmation Mot de Passe :&nbsp;</label>
    <input type ="password" name = "C_MotDePasse" required/> <br />

    <input type="submit" value="Confirmer" />
    
  </form>

 

