<form method="post" id="registration">

  <h2>
    Formulaire d'inscription
  </h2>

    <br />
    <input type ="text" name = "Nom" />
    <input type ="text" name = "Prénom"/>
    <input type ="text" name = "NomEntreprise"/>
    <input type ="text" name = "NuméroSIRET"/>
    <input type ="text" name = "Adresse"/>
    <input type ="text" name = "CodePostal"/>
    <input type ="text" name = "AdresseMail"/>
    <input type ="text" name = "NuméroTéléphone"/>
    <input type ="text" name = "MotDePasse"/>

    


</form>



