<form method="post" id="registration">

    <h2>
      Formulaire d'inscription
    </h2>
  
      <br />
      <label for= "Nom">  Nom : </label>
      <input type ="text" name = "Nom" /> <br/>

      <label for= "Prénom">  Prénom : </label>
      <input type ="text" name = "Prénom"/> <br/>

      <label for= "NomEntreprise">  Nom de l'entreprise : </label>
      <input type ="text" name = "NomEntreprise"/> <br/>

      <label for= "NuméroSIRET">  Numéro de SIRET : </label>
      <input type ="text" name = "NuméroSIRET"/> <br/>

      <label for= "Adresse">  Adresse : </label>
      <input type ="text" name = "Adresse"/> <br/>

      <label for= "CodePostal">  Code Postal : </label>
      <input type ="text" name = "CodePostal" maxlength="5" /> <br/>

      <label for= "AdresseMail">  Adresse Mail : </label>
      <input type ="text" name = "AdresseMail"/> <br/>

      <label for= "NuméroTéléphone">  Numéro Téléphone : </label>
      <input type ="text" name = "NuméroTéléphone" placeholder="Numéro sans espace" size="17" maxlength="10"/>  <br/>

      <label for= "MotDePasse">  Mot de Passe : </label>
      <input type ="password" name = "MotDePasse"/> <br/>

      <label for= "C_MotDePasse"> Confirmation Mot de Passe : </label>
      <input type ="password" name = "C_MotDePasse"/> <br/>
      
  
  
  </form>
  