

    <h2>
      Formulaire d'inscription
    </h2>

    <form>
      <p>
          Type de compte :&nbsp;
    
          <input type="radio" name="choix" value="Utilisateur" /><label for="Utilisateur">Utilisateur&nbsp;</label>
         
          <input type="radio" name="choix" value="Partenaire" /><label for="Partenaire">Partenaire&nbsp;</label>
      </p>

      <label for= "Nom">  Nom :&nbsp;</label>
      <input type ="text" name = "Nom" required/> <br />

      <label for= "Prénom">  Prénom :&nbsp;</label>
      <input type ="text" name = "Prénom" required/> <br />

      <label for= "NomEntreprise">  Nom de l'entreprise :&nbsp;</label>
      <input type ="text" name = "NomEntreprise" required/> <br />

      <label for= "NuméroSIRET">  Numéro de SIRET :&nbsp;</label>
      <input type ="text" name = "NuméroSIRET" required/> <br />

      <label for= "Adresse">  Adresse :&nbsp;</label>
      <input type ="text" name = "Adresse" required/> <br />

      <label for= "CodePostal">  Code Postal :&nbsp;</label>
      <input type ="text" name = "CodePostal" maxlength="5" required/> <br/>

      <label for= "AdresseMail">  Adresse Mail :&nbsp;</label>
      <input type ="email" name = "AdresseMail" required/> <br />

      <label for= "NuméroTéléphone">  Numéro Téléphone :&nbsp;</label>
      <input type ="tel" name = "NuméroTéléphone" placeholder="Numéro sans espace" size="17" maxlength="10" required/>  <br />

      <label for= "MotDePasse">  Mot de Passe :&nbsp;</label>
      <input type ="password" name = "MotDePasse" required/> <br />

      <label for= "C_MotDePasse"> Confirmation Mot de Passe :&nbsp;</label>
      <input type ="password" name = "C_MotDePasse" required/> <br />
      
  
  
  </form>
  <button (click)="ngxSmartModalService.getModal('modRegistration').open()">Inscription</button>
  <input type="submit" value="Envoyer" />